<% if current_user.is_admin? %>

<br>

<h1 class="text-bold" style="margin-left: 5%; display: inline;">Lista di tutte le prenotazioni di tutti gli utenti</h1>


 <table style="width:90%" class="table table-hover table-secondary center">
  <tr>
    <thead class="table-dark">
      <th>Email utente</th>
      <th>Nome</th>
      <th>Giorno</th>
      <th>Orario</th>
      <th>Elimina</th>
    </thead>
  </tr>

  <% for i in 0..@courses.length-1 %>
  <tr>
    <td><%= @users[i].email %></td>
    <td><%= @courses[i].nome %></td>
    <td><%= @courses[i].giorno %></td>
    <td><%= @courses[i].orario %></td>
    <td style="width:25%;"><%= link_to("Elimina prenotazione", [@reservations[i].course, @reservations[i]], method: :delete,
                     data: { confirm: "Vuoi eliminare la prenotazione dell'utente "+@users[i].email+"?" }, :class=>"btn btn-danger") %></td>
  </tr>
  <% end %> 
 
</table>


<br><br><br>


<% else %>
<h1 class="ban-msg">Non sei autorizzato, perchè non sei un admin</h1>
<% end %>