<% if current_user.is_admin? %>

<br>

<h1 class="text-bold" style="margin-left: 10%; display: inline;">Tutte le prenotazioni</h1>
<a href="/adm" class="btn btn-primary" style="display: inline; position: relative; bottom: 8px; left: 15px">Lista utenti</a>
<br><br>

 <table style="width:80%" class="table table-hover table-secondary center">
  <tr>
    <thead class="table-dark">
      <th>Email utente</th>
      <th>Corso</th>
      <th>Giorno</th>
      <th>Orario</th>
      <th>Azioni</th>
    </thead>
  </tr>

  <% for i in 0..@courses.length-1 %>
  <tr>
    <td><%= @users[i].email %></td>
    <td><%= @courses[i].nome %></td>
    <td><%= @courses[i].giorno %></td>
    <td><%= @courses[i].orario %></td>
    <td style="width:25%;"><%= link_to("Elimina prenotazione", [@reservations[i].course, @reservations[i]], method: :delete,
                     data: { confirm: "Vuoi eliminare la prenotazione a #{@courses[i].nome} di #{@users[i].email}?" }, :class=>"btn btn-danger") %></td>
  </tr>
  <% end %> 
 
</table>


<br><br><br>


<% else %>
<h1 class="ban-msg">Questa pagina è riservata agli amministratori della OlympusGym</h1>
<% end %>