<% if current_user.is_admin? || current_user.is_gymClient? %>

<h1>Modifica corso</h1>

<%= form_with model: @course do |form| %>
  <div>
    <%= form.label :nome %><br>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :giorno %><br>
    <%= form.text_field :giorno %>
  </div>

  <div>
    <%= form.label :orario %><br>
    <%= form.text_field :orario %>
  </div>

  <div>
    <%= form.label :durata %><br>
    <%= form.text_field :durata %>
  </div>

  <div>
    <%= form.label :descrizione %><br>
    <%= form.text_area :descrizione %>
  </div>

  <div>
    <%= form.submit "Modifica corso"%>
  </div>
<% end %>

<% else %>
<h1>Il tuo account è stato bannato dagli amministratori di OlympusGym</h1>
<% end %>