<!-- <style>
table, th, td {
  border: 1px solid black;
}
</style> -->

<% if current_user.is_admin? or current_user.is_gymClient? %>

  <br>

  <div class="courses-table container-fluid">
    <h1 class="text-bold" style="margin-left: 5%; display: inline">I nostri corsi</h1>
    <% if can? :create, Course %>
      <a href="/courses/new" class="btn btn-primary" style="display: inline; position: relative; bottom: 8px; left: 15px">Aggiungi corso</a>
    <% end %>
    <table style="width:90%" class="table table-hover table-secondary center">
    <thead class="table-dark">
      <th>Nome</th>
      <th>Giorno</th>
      <th>Orario</th>
      <th>Durata</th>
      <th>Azioni</th>
    </thead>

    <% @courses.each do |course| %>
    <tr class="">
      <td><%= course.nome %></td>
      <td><%= course.giorno %></td>
      <td><%= course.orario %></td>
      <td><%= course.durata %></td>
      <td><table style="width:100%">
        <div class="container-fluid">
          <div class="row justify-content-center">
        
            <% if can? :update, Course %>
            <div class="col-3">
            	<td class="courses-column"><%= link_to("Modifica corso", edit_course_path(course.id), :class => "btn btn-secondary courses-button") %></td>
            </div>
            <% end %>
          

            <% if can? :destroy, Course %>
            <div class="col-3">
        		  <td class="courses-column"><%= link_to("Elimina corso", course_path(course.id), :class => "btn btn-danger courses-button", method: :delete,
                           data: { confirm: "Sei sicuro di voler eliminare il corso di "+course.nome+"?" }) %></td>
            </div>
            <% end %>
          

            <% if Reservation.where(:user_id => current_user.id, :course_id => course.id, :prenotato => 1).exists?%>
                  <% reservation = Reservation.where(:user_id => current_user.id, :course_id => course.id, :prenotato => 1).first %>
                  <div class="col-3">
                  <td  class="courses-column"><%= link_to("Cancella prenotazione", [reservation.course, reservation], :class => "btn btn-secondary courses-button",method: :delete,
                            data: { confirm: "Vuoi cancellare la tua prenotazione al corso di "+course.nome+"?" })  %></td>
                  </div>
            <% else %>
                <div class="col-3">
                <td class="courses-column"><%= link_to("Prenotami", course_reservations_path(course.id), :class => "btn btn-primary courses-button",method: :post,
                            data: { confirm: "Vuoi prenotarti al corso di "+course.nome+"?" })  %></td>
                </div>
            <% end %>

          <div class="col-3">
         	  <td class="courses-column"><%= link_to("Dettagli", course_path(course.id), :class => "btn btn-primary courses-button") %></td>
      	  </div>
        </div>
      </div>
      </table>
    	</td>
    </tr>
    <% end %> 
   
  </table> 
</div>


<br><br><br>


<% if user_signed_in? and current_user.nome != nil and current_user.nome != "" %>
  <h3 class="greeting">
    Benvenuto <%= current_user.nome %>
  </h3>
<% end %> 
<% if user_signed_in? and (current_user.nome == nil or current_user.nome == "") %>
  <h3 class="greeting">
    Benvenuto <%= current_user.email %> <%= link_to("Aggiorna il tuo profilo", edit_user_registration_path, :class=>"btn btn-primary") %>
  </h3>
<% end %>



<% else %>
  <h1 class="ban-msg">Il tuo account è stato bannato dagli amministratori di OlympusGym</h1>
<% end %>