<style>
table, th, td {
  border: 1px solid black;
}
</style>

<h1>Lista dei corsi</h1>


 <table style="width:100%">
  <tr>
    <th>Nome</th>
    <th>Giorno</th>
    <th>Ora</th>
    <th>Durata</th>
    <th>Azioni</th>
  </tr>

  <% @courses.each do |course| %>
  <tr>
    <td><%= course.nome %></td>
    <td><%= course.giorno %></td>
    <td><%= course.orario %></td>
    <td><%= course.durata %></td>
    <td><table style="width:100%">

    <% if can? :update, Course %>
    	<td><%= link_to "Modifica corso", edit_course_path(course.id) %></td>
    <% else %>
    <td>Modifica corso</td>
    <% end %>

    <% if can? :destroy, Course %>
		<td><%= link_to "Elimina corso", course_path(course.id), method: :delete,
                  data: { confirm: "Are you sure?" } %></td>
    <% else %> 
    <td>Elimina corso</td>
    <% end %>
      <% if Reservation.where(:user_id => current_user.id, :course_id => course.id, :prenotato => 1).exists?%>
            <% reservation = Reservation.where(:user_id => current_user.id, :course_id => course.id, :prenotato => 1).first %>
          <td><%= link_to "Cancella prenotazione", [reservation.course, reservation], method: :delete,
                      data: { confirm: "Are you sure?" }  %></td>
      <% else %>
          <td><%= link_to "Prenotami", course_reservations_path(course.id), method: :post,
                      data: { confirm: "Are you sure?" }  %></td>
      <% end %>
    	<td><%= link_to "Details", course_path(course.id) %></td>
  		</table>
	</td>
  </tr>
  <% end %> 
 
</table> 

<hr>

<h2> Azioni </h2>

<ul>
<% if can? :create, Course %>
  <li><%= link_to "Crea nuovo corso", new_course_path %></li>
<% else %> 
  <li>Crea nuovo corso</li>
<% end %> 
<li><%= link_to "Vedi comunicazioni", comunications_path %></li>

<li><%= link_to "Mostra tutte le mie prenotazioni", myreservations_index_path %></li>
</ul>