<% if current_user.is_admin? || current_user.is_gymClient? %>

<h2> Modifica recensione </h2>

<%= form_with model: [ @review.course, @review ] do |form| %>
  <p>
    <%= form.label :comments %><br>
    <%= form.text_area :comments %>
  </p>
  <p>
    <%= form.label :stelle %><br>
    <%= form.collection_select :stelle, [1,2,3,4,5,6,7,8,9,10], :to_i, :to_s%>
  </p>

  <p>
  	
    <%= form.submit "Salva" %>
  </p>
<% end %>


<% else %>
<h1>Il tuo account è stato bannato dagli amministratori di OlympusGym</h1>
<% end %>